@tailwind base;
@tailwind components;
@tailwind utilities;

/* 可以添加一些自定义的全局样式 */
body {
  @apply antialiased;
}

/* 添加一些渐变和动画的自定义效果 */
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 8s linear infinite;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
